a:link {
	color: #DF4949;
	text-decoration:none;
}
a:visited {
	color: #E27A3F;
}
body {
	margin: 0 auto;
}

header {
	background: url('blurback.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 800px;
	margin: 0 auto;
}
/* 
ul {
	font-size: 20px;
	padding-top: 35px;
	padding-left: 0px;
	margin: 0;
}

li {
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
}
*/

.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: #898989;
}

/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}


.intro {
	padding: 140px 140px;
	color: white;
}

h1 {
	font-family: 'Vollkorn', serif;
	font-size: 80px;
	margin: 0 auto;
}

h2 {
	line-height: 40px;
	margin: 0 auto;
	padding: 10px;
}

input {
	margin: 0px;
	border: 0px;
	padding: 10px 40px;
	font-size: 12px;
}

input[type="submit"] {
	color:white;
	background-color: #DF4949;
}

.content1 {
	background: url('bg1.jpg');
	-webkit-background-size: cover;
	background-position:center;
	height: 800px;

}

.box1{
	position: relative;
	color: white;
	padding: 10px;
	max-width: 600px;
	margin: 0 auto;
	top: 780px;

}

.box1 p {
	font-size: 24px;
	text-align: justify;
	line-height: 29px;
	position: absolute;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	padding: 20px 20px 20px 20px;
	margin-bottom: 0;
	height: 20px;
	transition: height .5s;
	-webkit-transition: height .5s;
}
small {
	opacity: 0;
}

.show-description p {
	height: 340px;
}
.show-description small {
	opacity: 1;
}




.robot{

	padding: 50px 0;
	position: absolute;
}
.beep{
	height: 0;
	width:3px;
	border: 5px solid transparent;
	border-top: 5px solid orange;
	border-bottom: 80px solid red;
	position: relative;
	left: 120px;


}
.brain{
	width:150px;
	height:150px;
	background: -webkit-radial-gradient(circle, white 15%, transparent 40%), blue;
	border-radius: 40px 40px 10px 10px;
	border-bottom: 30px solid black;
	position: relative;
	left: 50px;
}

.torso{
	width:150px;
	height:0px;
	border-top: 300px solid black;
	border-left: 75px solid blue;
	border-right: 75px solid transparent;
	border-radius: 20px 20px 100px 100px;


}

.active {
	color: #DF4949;
}










@media (max-width:700px){

	.container {
		padding-top:20px;
		float: none;
	}
	.intro {
		padding: 40px 0;
	}
	.nav li {
		display:block;
		padding: 5px;
		float: none;
		text-align: center;
	}
	.sns li{
		display: block;
		padding: 5px;
		float: none;
		text-align: center;
	}
}